<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Página Principal - API de Alumnos</title>
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Inicio</a>
        <a href="{{ url_for('get_alumnos') }}">Alumnos</a>
        <a href="{{ url_for('add_alumno_form') }}">Registrar</a>
    </nav>

    <div class="container">
        <h1>Bienvenido a la API de Alumnos</h1>
        <p>Utiliza las siguientes opciones para interactuar con la base de datos:</p>
        <ul>
            <li><a href="{{ url_for('get_alumnos') }}">Ver todos los alumnos</a></li>
            <li><a href="{{ url_for('add_alumno_form') }}">Registrar un nuevo alumno</a></li>
        </ul>
    </div>
</body>
</html>
